# What to sync
declare -A SNAPSHOT_ORIGINS # Array of location -> name
SNAPSHOT_ORIGINS['/path/to/a']='hans'
SNAPSHOT_ORIGINS['/some/b']='peter'
BACKUP_HOME=/where/snapshots/are/located/in
#MOUNT_DEVICE=/dev/hdb1
#SNAPSHOT_RW=/root/snapshot
SNAPSHOT_EXCLUDES="/path/to/file/with/rsync/exludes"

# How to snapshot
NUM_SNAPSHOTS=3 # Number of snapshots maintained
NUM_SNAPSHOT_PLACES=2 # Will be calculated if omitted.
# How snapshots are created:
#  - hardlink-rsync: rsync on top of hardlink copy of last snapshot.
#  - hardlink: only do hardlinking from SRC. Only useful when working on existing snapshots.
SNAPSHOT_CREATION_MODE='hardlink-rsync'


